# Supabase Configuration
VITE_SUPABASE_URL=https://igkrcgcrvnocauccebrf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlna3JjZ2Nydm5vY2F1Y2NlYnJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY4MzA1ODAsImV4cCI6MjA4MjQwNjU4MH0.YPEX1u7LWSPXoBY_DyULmmvuQcYJgcEN-MNYAmy8X6M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlna3JjZ2Nydm5vY2F1Y2NlYnJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjgzMDU4MCwiZXhwIjoyMDgyNDA2NTgwfQ.-529L2gcgOFrfN_VVZf6tbPyAlnRFQNQjPBOk8aGwpI

# SMM API Configuration
SMM_API_URL=https://safesmmpanel.com/api/v2
SMM_API_KEY=38086716603a82e68be330924e7327c7e130df7d

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_live_RzLdEkePrpnfd4
RAZORPAY_SECRET=4wiJs8mHjvhbes6JRZFd35hT
RAZORPAY_WEBHOOK_SECRET=

# Admin & Security
ADMIN_SECRET=
ADMIN_EMAIL=
JWT_SECRET=
